<div class="container">
  <%= form_with model: @student, url: students_path, local: true do |f| %>

      <% if @error_message %>
        <div><%= @error_message %></div>
      <% end %>

    <div class="form-group">
      <%= f.label :名前 %>
      <%= f.text_field :name, class: "form-control", placeholder: "名前" %>
    </div>

    <div class="form-group">
      <%= f.label :メールアドレス %>
      <%= f.text_field :email, class: "form-control", placeholder: "メールアドレス" %>
    </div>

    <div class="form-group">
      <%= f.label :パスワード %>
      <%= f.password_field :password, class: "form-control", placeholder: "パスワード" %>
    </div>

    <div class="form-group">
      <%= f.label :大学 %>
      <%= f.text_field :college, class: "form-control", placeholder: "大学" %>
    </div>

    <div class="form-group">
      <%= f.label :学年 %>
      <%= f.number_field :grade, class: "form-control", placeholder: "学年" %>
    </div>

    <div class="form-group">
      <%= f.label :プロフィール %>
      <%= f.text_area :profile, class: "form-control", placeholder: "プロフィール", row: 6 %>
    </div>

    <%= f.submit %>
  <% end %>
</div>
