<div class="container-fluid">
 <div class="row">
   <div class="col col-md-2">
     <ul class="show_list">
       <li><a href="/posts"><i class="fa fa-search" aria-hidden="true"></i> 検索する</a></li>
       <li><a href="/students/rooms_index"><i class="fa fa-commenting-o" aria-hidden="true"></i> メッセージ</a></li>
       <li><a href="/students/application_posts"><i class="fa fa-history" aria-hidden="true"></i> 応募履歴</a></li>
     </ul>
   </div>
 </div>
</div>

<div class="container text-center">
  <div class="icon my-4">
    <%= image_tag @student.icon.to_s %>
  </div>
    <h2 class="user_name"><%= @student.name %></h2>
    
    <div class="profile text-left mt-4">
      <p>大学:<%= @student.college %></p>
      <p>学年:<%= @student.grade %></p>
      <p>プロフィール:<%= @student.profile %></p>
    </div>

    <a href="/students/<%= @student.id %>/edit" class="edit_link"><i class="fa fa-pencil" aria-hidden="true"></i>編集</a>
</div>
