<div class="container-fluid">
<% if current_student %>
 <div class="row">
   <div class="col col-md-2">
     <ul class="show_list">
       <li>
          <%= link_to students_rooms_index_path do %>
            <i class="fa fa-commenting-o" aria-hidden="true"></i> メッセージ
          <% end %>
       </li>     
       <li>
          <%=link_to students_application_posts_path do%>
              <i class="fa fa-history" aria-hidden="true"></i> 応募履歴
          <% end %>
       </li>
     </ul>
   </div>
 </div>
 <% end %>
</div>


<div class="container-fluid text-center">
    <%= render "layouts/icon", user:@student%>
      
    <div class="text-left mt-4 flexible-fontsize">
        <p>大学:<%= @student.college %></p>
        <p>学年:<%= @student.grade %></p>
        <p>プロフィール:<%= @student.profile %></p>
    </div>
    <% if current_student %>
      <%= link_to edit_student_registration_path do%>
        <i class="fa fa-pencil" aria-hidden="true"></i>編集
      <% end %>
    <% end %>  
</div>
