
<div class="container">
 <%= form_with model: @company, url: company_path, local: true do |f| %>

   <% if @company.errors.any? %>
        <% @company.errors.full_messages.each do |e|%>
          <p><%= e %></p>
        <% end %>
      <% end %>

   <div class="form-group">
    <%= f.label :会社名%>
    <%= f.text_field :name, class: "form-control" %>
   </div>

   <div>
    <%= f.label :パスワード%>
    <%= f.password_field :password, class: "form-control", placeholder: "パスワード" %>
   </div>

    <div>
     <%= f.label :場所%>
     <%= f.text_field :place, class: "form-control" %>
    </div>

    <div>
     <%= f.label :メールアドレス%>
     <%= f.text_field :email, class: "form-control" %>
    </div>

    <div>
     <%= f.label :プロフィール%>
     <%= f.text_field :profile, class: "form-control" %>
    </div>

   　
    <div>
      <%= f.label :アイコン画像%>
      <%= f.file_field :icon, class: "form-control" %>
    </div>


    <%= f.submit %>

 <% end %>  
</div>