<div class="container">
  <%= form_with model: @company, url: companies_path,　local: true do |f| %>

      <% if @error_message %>
        <div><%= @error_message %></div>
      <% end %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
    </div>
    
    <div class="form-group">
      <%= f.label :place %>
      <%= f.text_field :place, class: "form-control", placeholder: "Place" %>
    </div>
    
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
    </div>

    
    <div class="form-group">
      <%= f.label :profile %>
      <%= f.text_area :profile, class: "form-control", placeholder: "profile", row: 6 %>
    </div>

    <%= f.submit %>
  <% end %>
</div>