<div class="container-fluid">

  <% if current_company %>
  <div class="row">
    <div class="col col-md-2">
      <ul class="show_list">
        <li>
          <%= link_to new_post_path do %>
            <i class="fa fa-newspaper-o" aria-hidden="true"></i> 掲載する
          <% end %>
       </li>     
        <li>
          <%= link_to companies_rooms_index_path do %>
            <i class="fa fa-commenting-o" aria-hidden="true"></i> メッセージ
          <% end %>
       </li>    
       <li>
          <%= link_to companies_posts_path do %>
            <i class="fa fa-history" aria-hidden="true"></i> 掲載履歴
          <% end %>
       </li>    
      </ul>
    </div>
  </div>
  <% end %> 

</div>

<div class="container text-center">
    <%= render "layouts/icon", user:@company%>
      
    
    <div class="profile text-left mt-4">
      <p class="flexible-fontsize">プロフィール:<%= @company.profile %></p>
    </div>

    <% if current_company %> 
      <%= link_to edit_company_registration_path do%>
        <i class="fa fa-pencil" aria-hidden="true"></i>編集
      <% end%>
    <% end %>
    
</div>
