<div class="container-fluid">

  <% if session[:company_id] %>
  <div class="row">
    <div class="col col-md-2">
      <ul class="show_list">
        <li>
          <%= link_to new_post_path do %>
            <i class="fa fa-newspaper-o" aria-hidden="true"></i> 掲載する
          <% end %>
       </li>     
        <li>
          <%= link_to companies_rooms_index_path do %>
            <i class="fa fa-commenting-o" aria-hidden="true"></i> メッセージ
          <% end %>
       </li>    
       <li>
          <%= link_to companies_posts_path do %>
            <i class="fa fa-history" aria-hidden="true"></i> 掲載履歴
          <% end %>
       </li>    
      </ul>
    </div>
  </div>
  <% end %> 

</div>

<div class="container text-center">
    <%= render "layouts/icon", user:@company%>
      
    
    <div class="profile text-left mt-4">
      <p>プロフィール:<%= @company.profile %></p>
    </div>

    <% if session[:company_id]%> 
     <a href="/companies/<%= @company.id %>/edit" class="edit_link"><i class="fa fa-pencil" aria-hidden="true"></i>編集</a>
    <% end %>
    
</div>
