<div class="container-fluid">
  <%if session[:company_id]%>
  <div class="collocutor_name">
        <h3 class="text-center"><a href="/show_student/<%= @room.student.id %>"><%= @room.student.name%></a></h3>
  </div>
  <% elsif session[:student_id]%>
  <div class="collocutor_name">
        <h3 class="text-center"><a href="/show_company/<%= @room.post.company.id %>"><%= @room.post.company.name%></a></h3>
  </div>
  <% end %> 

  <iframe src="/rooms/room_messages/<%=@room.id%>" width=100% frameborder=0></iframe>

          <% if @message.errors.any? %>
                <% @message.errors.full_messages.each do |e|%>
                    <p class="error_message"><%= e %></p>
                <% end %>
          <% end %>

          <%= form_with model: @message, url: messages_path, local: true do |f| %>
                
                <%= f.text_field :content, class: "form-control", placeholder: "メッセージを入力" %>
                <% if session[:company_id]%>
                  <%= f.hidden_field :user_type, :value => false %>
                <%else%>
                  <%= f.hidden_field :user_type, :value => true %>
                <%end%>
                <%= f.hidden_field :room_id, :value => @room.id %>
                <div class="actions">
                <%= f.submit '送信', class: "btn btn-outline-dark" %>
                </div>
          <% end %>
</div>