<div class="container">
 <%= form_with model: @post, url: post_path, local: true do |f| %>

    <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |e| %>
        <p class="error_message"><%= e %></p>
    <% end %>
    <% end %>

    <div class="form-group">
    <%= f.label :場所%>
    <%= f.text_field :place, class:"form-control" %>
    </div>

    <div class="form-group">
    <%= f.label :日付%>
    <%= f.date_field :date, class:"form-control" %>
    </div>

    <div class="form-group">
    <%= f.label :最大人数%>
    <%= f.number_field :mxpeople, class:"form-control" %>
    </div>

    <div class="form-group">
    <%= f.label :条件%>
    <%= f.text_field :requirement, class:"form-control", row: 6 %>
    </div>

    <div class="form-group">
    <%= f.label :詳細%>
    <%= f.text_field :detail, class:"form-control", row: 6 %>
    </div>

    <%= f.submit %>

 <% end %>
</div>