
<%= form_for Post.new, url: posts_path, method: 'get' do |p| %>
 <div class="form-group">
    <%= p.date_field :date, class: 'form-control font-awesome', placeholder: "日付" %>
 </div>
 
 <div class="form-group">
    <%= p.text_field :place, class: 'form-control font-awesome', placeholder: "&#xf0f7; 場所" %>
 </div>

 <div class="form-group">
    <%= p.number_field :mxpeople, class: 'form-control font-awesome', placeholder: "最大人数" %>
 </div>
 
  <%= p.submit '検索', class: 'btn btn-outline-dark' %>
<% end %>
<a href="/posts" class="btn btn-outline-primary mb-4">条件をクリア</a>




<div class="container-fluid">
<div class="row">

 <% @posts.each do |p| %>
 
 <div class="col-12">
 <a href="/posts/<%= p.id %>" class="post_link">
   <div class="card col-md-5">
      <div class="card-img-top post_image">
         <%= image_tag  p.office_image.to_s %>
      </div>
      <div class="card-body">
         <p class="card-text"><i class="fa fa-building-o" aria-hidden="true"></i> 　<%= p.place %></p>
         <p class="card-text"><i class="fa fa-calendar" aria-hidden="true"></i> 　<%= p.date %></p>
         <p class="card-text"><i class="fa fa-users" aria-hidden="true"></i> 　~<%= p.mxpeople %>人</p>
         </div>
   
   </div>
 </a>  
 </div>
 <% end %>
 
 </div>
 </div>

 