<div class="container">
    <%= form_with model: @post, url: posts_path, local: true do |f| %>
    
        <%if @post.errors.any? %>
           <% @post.errors.full_messages.each do |e|%>
                <p><%= e %></p>
           <% end %> 
        <%end%>

        <div class="form-group">
            <%= f.label :場所 %>
            <%= f.text_field :place, class: "form-control", placeholder: "場所" %>
        </div>

        <div class="form_group">
            <%= f.label :日付 %>
            <%= f.date_field :date, class: "form-control", placeholder: "日付" %>
        </div>

        <div class="form_group">
            <%= f.label :最大人数%>
            <%= f.number_field :mxpeople, class: "form-control", placeholder: "利用可能人数" %>
        </div>

        <div class="form_group"> 
            <%= f.label :条件 %>
            <%= f.text_area :requirement, class: "form-control", placeholder:"条件", row: 6 %>
        </div>

        <div class="form_group"> 
            <%= f.label :詳細 %>
            <%= f.text_area :detail, class: "form-control", placeholder:"詳細", row: 6 %>
        </div>

        
        <%= f.submit %>
    <% end %>
</div>
