<div class="container">
 <p><%= @post.date %></p>
 
 <p><%= @post.place %></p>

 <p><%= @post.requirement %></p>

 <p><%= @post.detail %></p>

 <% if session[:student_id]%>
  <p>掲載会社: <a href = "/companies/<%=@company.id%>"><%= @company.name %></a></p>
 <% else %>
  <p>掲載会社:<%= @company.name %></p>
    <% if session[:company_id] == @company.id %>
        <p><a href ="<%= @post.id%>/edit">編集</a></p>
    <% end %>
 <% end %>


</div>