<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>みんなのへや</title>
  </head>
  <body>
    <header>
     <div class="container-fluied">
       <nav class="navbar navbar-expand-md navbar-dark bg-dark">
         
         <% if session[:student_id] %>
         <%= session[:student_id] %> 
         <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navmenu2"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navmenu2">
          <div class="navbar-nav">

            <a href="" class="nav-item nav-link">検索する</a>

            <a href="" class="nav-item nav-link">マイページ</a>

            <a href="" class="nav-item nav-link">お問い合せ</a>

            <a href="/" class="nav-item nav-link">ログアウト</a>
          </div>
        </div>
         <% elsif session[:company_id] %>
         <%=session[:company_id] %>
         <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navmenu2"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navmenu2">
          <div class="navbar-nav">

            <a href="" class="nav-item nav-link">検索する</a>

            <%= link_to "マイページ", "company_path" %>
            
            <a href="" class="nav-item nav-link">お問い合せ</a>

            <%=link_to("ログアウト","/")%>

          </div>
        </div>
        <%else%>
         <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navmenu1"><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navmenu1">
          <div class="navbar-nav">
            <%= link_to '新規登録', "users/select", class: "nav-item nav-link" %>
            <a href="users/login_select" class="nav-item nav-link">ログイン</a>
            

          </div>
        </div>
        <%end%>
       </nav>
     </div>
    </header>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <%= yield %>
  </body>
</html>

